1 VERSIONINFO
FILEVERSION     0,2,0,0
PRODUCTVERSION  0,2,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080904E4"
		BEGIN
			VALUE "FileDescription", "General purpose gamedev library targeting the OpenPandora handheld"
			VALUE "FileVersion", "0.2"
			VALUE "InternalName", "libdarnit"
			VALUE "LegalCopyright", "Steven Arnow <s@rdw.se>"
			VALUE "OriginalFilename", "libdarnit.dll"
			VALUE "ProductName", "libDarnit"
			VALUE "ProductVersion", "0.2"
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x809, 1252
	END
END
